.dropdown-style {
    display: block;
    position: relative;
}

.teamLogos {
    width: 20%;
    margin: 10px;
    display: inline-block;
}

.teamLogos img {
    width: auto;
    max-width: 100%;
    height: auto;
}